  <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <!-- Title -->
	<a href="/">
	      <span class="mdl-layout-title" style="display: inline-block; color: blue">S</span>
	      <span class="mdl-layout-title" style="display: inline-block; color: orange">C</span>
	      <span class="mdl-layout-title" style="display: inline-block; color: red">H</span>
	</a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="js-search__input">
          <i class="material-icons">search</i>
        </label>

        <div class="mdl-textfield__expandable-holder" >
          <input class="mdl-textfield__input super-search__input" type="text" id="js-search__input" />
        </div>
      </div>

    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
    {% for page in site.pages %}
      {% if page.title %}
      <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
    </nav>

  </div>

