<div ng-controller="homeCtrl">
    <ol class="breadcrumb">
        <li>{{title}}</li>
    </ol>
    <div class="jumbotron">
        <h1>Welcome to V.D.BUI's home page!</h1>
        <p>You can choose to see my Resume' or my Portfolio!</p>
        <carousel interval="slideInterval" class="carousel slide" data-ride="carousel">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <p style="color: maroon">{{slide.text}}</p>
                    <p><button class="btn btn-large btn-primary" ng-click="redirect(slide.urlId)">Know more!</button></p>
                </div>
            </slide>
        </carousel>
    </div>
</div>